.center {
    border: 5px solid;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%); 
    padding: 10px;
    background: rgba(0,0,0,0.7);
    display: inline-block;
    min-width: 65%;
    min-height: 65%;
  }
.background {
  background-size: cover;
  background-image: url('img/hintergrund.jpg');
  text-align: center
}
.title {
  font-size: clamp(16px, 4vw, 22px);
  color: beige;
  font-size: 55px;
}
.text {
  color: beige;
  font-size: xx-large;
  white-space: pre-line
}
.hint {
  color: beige;
  font-size: larger;
  white-space: pre-line
}
.div-center {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
.btn-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%, -50%);
    transform: translateX(-50%, -50%);
  }
.a-btn {
  text-decoration: none;
  color: inherit; 
}
.btn-style {
  align-items: center;
  margin-top: 10px;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 20px;
  background-color: brown;
  border: none;
  color: beige;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.choice {
  background-color: rgb(165, 68, 68);
}
.input-style {
  border-radius: 10px;
  font-size: 20px;
  border: none;
  background-color:  rgb(165, 68, 68);
}

ul {
  width:100%;
  text-align:center;
}
li {
  display:block;
}
