<!DOCTYPE HTML>
<html>
	<head>
		<title>Little Advent Calendar</title>
		<link rel="stylesheet" type="text/css" href="/main.css"  />
	</head>
	<body class="background">
		<div class="center">
			<section >
				<h2 class="title" align="center"> <%= day %>. Dezember</h2>
				<p align="center"><a href="/<%= day %>" type="button">Öffnen</a></p>
				
			</section>
		</div>
	</body>
</html>