<!DOCTYPE HTML>
<html>
	<head>
		<title>Little Advent Calendar</title>
		<link rel="stylesheet" type="text/css" href="/main.css"  />
	</head>
	<body class="background">
		<div class="center">
			<section >
				<h2 class="title" align="center"> Too Late</h2>
				<p class="text" align="center">
					Der Kalender ist bereits Vorrüber...</br>
					Viel Glück im nächsten Jahr, frohes warten.
				</p>
				
			</section>
		</div>
	</body>
</html>